body {
  background-image: url("./img/배경2.jpeg");
  background-size: cover;
}

.bookmark {
    font-size: 55px;
    font-weight: bold;
    color: white;
    text-shadow: 3px 3px 3px #424242;
    position: relative;
    top:70px;
    padding: 80px;
}
.clock{
    font-size: 50px;
    font-weight: bold;
    color: white;
    text-shadow: 3px 3px 3px #424242;
    position: relative;
    top:70px;
    padding: 10px 10px 10px 80px;
}
.time{
    padding: 10px;
}

.sentence{
    font-size: 27px;
    padding-top: 15px;

}
.wrapper {
    z-index:10;
    display: grid;
    grid-template-columns: 155px 155px 155px 155px;
    grid-template-rows: 163px 163px 163px;
    grid-gap: 45px;
    padding: 40px;
    position: fixed;
    top: 70px;
    left: 40%;

}
.wrapper2 {
    z-index:900;
    display: grid;
    grid-template-columns: 155px 155px 155px 155px;
    grid-template-rows: 163px 163px 163px;
    grid-gap: 45px;
    padding: 40px;
    position: fixed;
    top: 70px;
    left: 40%;

}
.wrapperCover a{
    z-index:15;
}
.wrapperCover {
    z-index:1000;
    display: grid;
    grid-template-columns: 155px 155px 155px 155px;
    grid-template-rows: 163px 163px 163px;
    grid-gap: 45px;
    padding: 40px;
    position: fixed;
    top: 70px;
    left: 40%;
    opacity:100;
}
.item {
    box-shadow:4px 4px 4px 4px #424242;
    border-radius: 35px;
    background-color:#F2F2F2 ;
    opacity: 0.3;

}

.circle {
    width: 87px;
    height: 87px;
    border-radius: 50%;
    background-color: gray ;
    font-size: 40px;
    text-align: center;
    font-weight: bold;
    color: white;
    margin: 34px;
    line-height:90px;

}
.text {
    font-size: 20px;
    text-align: center;

    color: white;
    margin-top : 85%;
}

#NY:hover   {
    z-index:0 !important;
    background-color:black;
}


#G {
    background-color: #58ACFA;
}

#N {
    background-color: #58FA58;
}

#Y {
    background-color: #FF0000;
}
#M {
    background-color: #FDF518;
}
#I {
    background-color: #FF00BF;
}
#A {
    background-color: #FFBF00;
}
#T {
    background-color: #81F7F3;
}
#S {
    background-color: #BE81F7;
}
#W {
    background-color: #BEF781;
}
#P {
    background-color: #FA5882;
}
#P2 {
    background-color: #088A68;
}


/*#GH:hover    {
    background-color: #58ACFA;
    box-shadow:4px 4px 4px 4px #424242;
    border-radius: 35px;

    opacity:100;

}*/
.G a:hover {
    background-color: #58FA58;
}
.N a:hover {
    background-color: #58FA58;
}
.Y a:hover {
    background-color: #FF0000;
}
.M a:hover{
    background-color: #FDF518;
}
.I a:hover {
    background-color: #FF00BF;
}
.A a:hover {
    background-color: #FFBF00;
}
.T a:hover {
    background-color: #81F7F3;
}
.S a:hover {
    background-color: #BE81F7;
}
.W a:hover {
    background-color: #BEF781;
}
.P a:hover{
    background-color: #FA5882;
}
.P2 a:hover {
    background-color: #088A68;
}
-->
