html, body{
    background-color:#D8D8D8;
    font-family: 'Roboto', sans-serif;
}
.main{
    width: 100%;
    display: block;
    background: #FFFFFF;
}
.content-wrap{
    width: 100%;
    margin:0 auto;
    border: 4px solid rgba(161, 161, 161, 0.5);
    border-radius: 20px;
    overflow: hidden;
    background: #FFFFFF;

}
.content-left{
    background-image: url('../img/port.jpg');
    background-size:100% 50% ;
    background-repeat: no-repeat;
    color:black;
    float: left;
    width: 100%;
    padding: 30px;
}
.main-wrap{
    text-align: center;
    padding: 300px 0 0 0;
}
.main-year{
    font-size: 30px;
    font-weight: bold;
    color: black;
    position: relative;

}
.main-title{
    font-size: 50px;
    font-weight: bold;
    margin: 20px 0;
    color:black;
}
.menu-wrap{
    padding: 0 0 0 60px;

}

#home-menubar {
    border-bottom: rgb(71,71,71) 2px solid;
    text-decoration:none;

}
.menubar ul{
    height:40px;
    list-style:none;
    margin:0;
    padding:0;
    position: center;
}

.menubar li{
    float:left;
    margin-right: 7px;
    width:23%;
}

.menubar li a{
    background: white;
    color:black;
    display:block;
    font-weight:normal;
    line-height:50px;
    margin:0px;
    text-align:center;
    text-decoration:none;
}

.menubar li a:hover, .menubar ul li:hover a{
    background: rgb(71,71,71);
    color:#FFFFFF;
    text-decoration:none;

}



.menu:before{
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 105%;
    height: 2px;
    border-bottom:2px solid #6E6E6E ;
}




.content-right{
    float: left;
    width: 90%;
    padding: 10px;
}


.data-wrap {
    position: relative;
    left: 50%;

    display: block;
    margin: 60px 0 20px 0;
    padding: 0 0 20px 0;
}
.data-Ename {
    font-size: 20px;
    position: relative;
    left: 70px;
    margin-left: 130px;
    padding: 0 0 0 30px;
}

.data-Kname{
    font-size: 40px;
    font-weight: bold;

    display: inline-block;
    margin-left: 130px;
    padding: 30px 0 5px 30px;
}
.data-image{
    height:10px;
    width:5px;
    margin-left: 30px;
    padding: 30px;
}




.content-right table tr td{
    float: bottom;
    width: 40px;
    text-align: center;
    font-size: 15px;
    font-weight: lighter;
}


@media(min-width: 850px) {
    .main {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100vw;
        height: 100vh;
        background: none;
    }

    .content-wrap {
        width: 1000px;
        height: 600px;
        margin: 0 auto;
        border: 4px solid rgba(161, 161, 161, 0.5);
        border-radius: 5px;
        overflow: hidden;
        background: #FFFFFF;
    }

    .content-left {
        background-img: url('../img/port.jpg');
        color: black;
        float: left;
        width: 360px;
        height: 600px;
        padding: 90px 20px 20px 0;
    }

    .main-wrap {
        text-align: center;
        margin: 20px 0 0 0;
    }

    .main-year {
        font-size: 30px;
        font-weight: bold;
    }

    .main-title {
        font-size: 50px;
        font-weight: bold;
        margin: 20px 0;
    }

    .content-right {
        float: left;
        width: 550px;
        height: 600px;
        padding: 55px 20px 20px 20px;
    }

    .content-right table tr td {
        height: 10px;
        width: 40px;
        text-align: center;
        font-size: 15px;
        font-weight: lighter;
    }

    #home-menubar {
        border-bottom: rgb(71, 71, 71) 2px solid;
        text-decoration: none;

    }

    .menubar ul {
        height: 40px;
        list-style: none;
        margin: 0;
        padding: 0;
        position: center;
    }

    .menubar li {
        float: left;
        margin-right: 7px;
        width: 23%;
    }

    .menubar li a {
        background: white;
        color: black;
        display: block;
        font-weight: normal;
        line-height: 50px;
        margin: 0px;
        text-align: center;
        text-decoration: none;
    }

    .menubar li a:hover, .menubar ul li:hover a {
        background: rgb(71, 71, 71);
        color: #FFFFFF;
        text-decoration: none;

    }


    .menu:before {
        content: "";
        position: absolute;
        left: 0;
        bottom: 0;
        width: 105%;
        height: 2px;
        border-bottom: 2px solid #6E6E6E;
    }


    .data-Ename {
        font-size: 16px;
        position: relative;
        margin-top: 5%;
        left: 1%;
    }


    .name-wrap {
        margin: 10% 0 5% 7%;
        padding: 0 10% 0;
       position: fixed;

    }



    .img_wrap{

        margin: 10% 10% 10% 20%;

        padding: 3%;

    }
    .img_preview{
        max-width: 30%;
        max-height: 50%;
        margin-top: 5%;
        background: #BDBDBD;
        width: 170px;
        height: 160px;
    }
}



/*
1. color
2. position

*/